body {
    margin: 0;
    background-image: url("imagens/background.png");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Bona Nova", sans-serif;
}

.container {
    text-align: center;
}

h1 {
    color: #FFF;
    font-size: 54px;
    font-weight: lighter;
    line-height: 1.2;
    margin-bottom: 105px;
    font-family: "Bona Nova";
}

.comments {
    display: flex; /* Torna os comentários um ao lado do outro */
    align-items: center;
    justify-content: center;
}

.box {
    width: 300px;
    height: 150px; /* Aumentando a altura para acomodar a imagem */
    border-radius: 15px;
    background: var(--branco, #F2F2F0);
    margin: 15px;
    position: relative; /* Permite que a imagem se sobreponha */
}

.profile-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit:cover;
    position: absolute; /* Permite posicionamento absoluto */
    bottom: 140px; /* Move a imagem para cima, de forma que apenas a parte inferior toque na caixa */
    left: calc(50% - 40px); /* Centraliza horizontalmente a imagem na caixa */
}

.comment-name {
    font-weight: bold;
    margin: 20px 10px;
    text-align: left; /* Alinhar o texto à esquerda */
}

.comment-content {
    margin: 20px 10px;
    text-align: left; /* Alinhar o texto à esquerda */
    font-size: small;
}





