body {
    margin: 0;
    background-color: black;

}

.header {
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: transparent;
}

.header .container .logo-container {
    left: -150px;
    position: relative;
    top: 25px;

}

.header .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 10% 0;
    height: 100%;
}

.header .container .navbar {
    list-style: none;
    justify-content: flex-end;
    display: flex;
    padding: 10px 10;

}

.header .container .navbar li {
    display: inline;
    padding: 0 10px;
    margin-top: 70px;
}


.header .container .navbar li a {
    color: #fdfdfd;
    text-decoration: none;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
}

.header .container .navbar .login-link {
    margin-right: auto;
    margin-top: 45px;
}

.header .container .navbar .frame-login {
    display: inline-flex;
    padding: 16px 76px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: 150px;
    /* Estilos do quadro */
    border-radius: 5px;
    /* Cantos arredondados */
    border-radius: 20px;
    border: 1px solid #FFF;

}

.banner {
    width: 100%;
    background-image: url(grape1.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;


}

.banner .container {
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Centralize verticalmente o conteúdo */
    align-items: center;
    /* Centralize horizontalmente o conteúdo */
}

.banner .container h1 {
    text-align: center;
    color: white;
    font-family: Bona Nova;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner .container p {
    color: white;
    font-size: 25px;
    text-align: center;
    font-style: normal;
    letter-spacing: 0.5px;
    white-space: pre-line;

}

.frame-saiba-mais a {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: 128.9%;
    letter-spacing: 0.5px;
    color: #ffffff;
    text-decoration: none;
}

.frame-saiba-mais {
    /*posição do botao*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -190%);

    /*estilo do botao*/
    display: inline-flex;
    padding: 16px 118px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background: linear-gradient(94deg, #730217 0%, #461f267d 50.52%, #411d2400 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

#garrafaVinho {
    text-align: center;
}


.content {
    background-color: #000;
}

.content .container .apresentacao h1 {

    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Bona Nova;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 542px;
    height: 124.9px;
    margin: 80px auto 0;
    /* Centraliza verticalmente e horizontalmente */
    max-width: 100%;
    /* Garante que o texto não exceda a largura da tela */

}

.content .container .apresentacao h4 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    margin-top: -50px;
}

.content .container .apresentacao p {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 128.9%;
    /* 25.78px */
    letter-spacing: 0.5px;
    margin: 50px auto;
    /* Define margens superior e inferior de 50px e centraliza horizontalmente */
    max-width: 80%;
    /* Define a largura máxima do texto */
}

.content1 h1 {
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Bona Nova;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 542px;
    height: 124.9px;
    margin: 80px auto 0;
    /* Centraliza verticalmente e horizontalmente */
    max-width: 100%;
    /* Garante que o texto não exceda a largura da tela */

}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#garrafas1 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.wine-item {
    text-align: center;
    margin-bottom: 10px;
    padding: 80px;
}

.wine-item img {
    display: block;
    margin: 0 auto;
}

.wine-name {
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: block;
    margin-top: 10px;
}

.wine-type {
    display: block;
    margin-top: 10px;
    color: var(--bege, #BF9460);
    text-align: center;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#garrafas1 img {
    margin: 10px;
}

#garrafas2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#comentarios {
    background-image: url(Rectangle4.png);
    background-size: cover;
    padding: 20px;
    text-align: center;
    color: white;
    overflow: auto; 

}

#comentarios h1 {
    color: #ffffff;
    white-space: nowrap;
}


.caixa {
    width: calc(33.33% - 20px);
    height: auto;    
    background-color: white;
    margin: 20px 10px;
    padding: 20px;
    border-radius: 10px;
    display: inline-block; 
    box-sizing: border-box;        
    text-align: center;
    float: left;    
    
}

.caixa p { 
    color: black;
    font-size: 15px;
}

.caixa h4 { 
    color: black;
    font-size: 20px;
}

.imagem-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 80px; /* Altura da área da imagem */
}
.imagem-container img {
    max-width: 100%;
    max-height: 100%;
}

.simuladorFinanceiro { 
    display: flex;
    flex-direction: column; /* Alinha os elementos verticalmente em coluna */
    align-items: center; /* Centraliza horizontalmente o conteúdo */
    text-align: center; /* Centraliza o texto horizontalmente */
}

.simuladorFinanceiro .caixaSimulador {
    width: calc(55.33%);
    height: auto;    
    background-color: #59514D;
    margin: 40px 10px;
    padding: 0px;
    border-radius: 30px;
    display: inline-block; 
    box-sizing: border-box;        
    text-align: center;
    display: flex;
    align-items: center;
    
}

.simuladorFinanceiro h1 {
    white-space: nowrap;
    
}

#imagemEsquerda {
    max-width: 100px;
    height: auto;
    display: flex;
    justify-content: center;
    
}

.simuladorFinanceiro .caixaSimulador p {
    font-size: 30px;
    color: white;
    }

