* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: black;
}
#logo {
  width: 10%;
  height: 10%;
  margin-top: 1%;
  margin-left: 26%;
}
#video_de_fundo {
  height: 90vh;
  width: 90vh;
  border-radius: 10px, 10px, 10px, 10px;
  position: fixed;
  right: -9%;
  filter: brightness(100%);
  transform: scaleX(-1);
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 16.66%;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
  margin-left: 16.66%;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 40px;
  margin-left: 16.66%;
}

.campos_de_entrada {
  color: #494949;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #1f1f1f;
  padding-bottom: 1px;
  margin-top: 10px;
  margin-left: 16.66%;
  width: 24%;
}

h4 {
  color: #bf9460;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-items: center;
  margin-top: 25px;
  margin-left: 24%
}

h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 2%;
  margin-left: 21.09%;
}

#botao_logar {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  width: 20vw;
  padding: 14px 184px;
  justify-content: center;
  gap: 10px;
  border-radius: 15px;
  background: #37373759;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  opacity: 0.8;
  margin-top: 25px;
  margin-left: 16.66%;
}

#botao_logar:hover {
  background-color: #3737372a;
  cursor: pointer;
}

#botao_logar:active {
  background-color: #260101;
}

a {
  color: #bf9460;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
