* {
	margin: 0;
	padding: 0;
	color: white;
	font-family: "Montserrat", sans-serif;
}

body {
	background: url(imagens/background.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-color: black;
	background-position: 50%;
	height: 100vh;
	width: 100%;
}

header {
	width: 100%;
	display: flex;
	align-items: center;
	text-align: center;
	height: 18%;
	justify-content: center;
}

#container_logo {
	width: 25%;
}

#logo {
	margin-top: 0.5%;
	width: 30%;
}

#container_link {
	width: 25%;
	
}

#ancora_home {
	text-decoration: none;
	padding: 3%;
	border-radius: 25px;
}

#ancora_home:hover {
	background-color: #730217;
	border: solid 1px #FFF;
	transition: 1s;
}
main {
	height: 82%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#tabela_de_cadastro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 80%;
	margin: 0 auto;
	width: 30%;
	text-align: center;
}

.campo_de_dados {
	width: 93%;
	padding: 2% 4%;
	margin: 6px auto;
	border: 1px solid #211e1e;
	background-color: #131212;
	font-size: 16px;
	display: block;
	height: 20px;
	align-content: center;
	border-radius: 2px;
}
.campo_de_dados::placeholder {
	font-size: 12px;
	color: #685e59;
}

#botao_cadastrar {
	width: 101%;
	padding: 10px;
	margin: 5px auto;
	border: none;
	font-size: 12px;
	background-color: #730217;
	cursor: pointer;
	font-family: "Montserrat";
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	border-radius: 2px;
	box-shadow: 2px 6px 15px 0px rgba(0, 0, 0, 0.25);
}

#botao_cadastrar:hover {
	background-color: rgb(97, 2, 19);
}

#botao_cadastrar:active {
	background-color: #260101;
}

h1 {
	font-size: 26px;
	font-style: normal;
	font-weight: 700;
	line-height: bold;
	text-align: center;
	margin-bottom: 10px;
}

h2 {
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-align: center;
	align-items: center;
	margin-bottom: 10px;
}
